#bar{
    border: solid black 1px;
    width: 30rem;
    height: 2rem;
    display:flex;
    max-width: 45rem;
    margin: 0 auto;
}

div #inner1{
    width:25%;
    height: 100%;
    border: solid black 1px;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    

}

div #inner2{
    width:25%;
    height: 100%;
    border: solid black 1px;
    display: flex;
    align-items: center;
    gap: 0.5rem;

}

div #inner3{
    width:25%;
    height: 100%;
    border: solid black 1px;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

div #inner4{
    width:25%;
    height: 100%;
    border: solid black 1px;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

#inner11{
    width: 1.5rem;
    margin-left: 1rem;
}

.img1{
    height: 100%;
    width :100% ;
     
}

.img2{
    height: 100%;
    width :100% ;   
    
}   

.img3{
    height: 100%;
    width :100% ;
}

.img4{
    height: 100%;
    width :100% ;
}




#inner12{
    margin-right: 1rem;
    width :2.5rem;
    
}

#inner21{
    width: 1.5rem;
    margin-left: 1rem;
    height: 100%;
}

#inner22{
    margin-right: 1rem;
    width :2.5rem;

}

#inner31{
    width: 1.5rem;
    margin-left: 1rem;
    height: 100%;
}


#inner32{
    margin-right: 1rem;
    width :2.5rem;
}

#inner41{
    width: 1.5rem;
    margin-left: 1rem;
    height: 100%;
}

#inner42{
    margin-right: 1rem;
    width :2.5rem;
}

#inner1:hover{
    background-color: #f0f2f2;
}

#inner2:hover{
    background-color: #f0f2f2 ;
}

#inner3:hover{
    background-color: #f0f2f2 ;
}

#inner4:hover{
    background-color: #f0f2f2;
}

/* this is bad code tbh lot of repetetion */






